@font-face {
    font-family: Seurat;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/SeuratProB.otf) format("opentype");
}

* {
    box-sizing: border-box;
    cursor: url('../img/Pointer.png'), auto;
    font-family: Seurat;
}

body {
    margin: 0;
    background-image: url("../img/BG.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #74664b;
    
}

.carousel-item {
    height: 80vh;
    min-height: 80vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#navbar {
    background: #ffdfa0;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between; /* Align items at the ends */
  }
  
  #navbar-container {
    display: flex;
    align-items: center; /* Center items vertically */
    font-size: large;
  }
  
  #navbar-nav-center {
    display: flex;
    justify-content: center; /* Center items horizontally */
    flex-grow: 1;
    padding-right: 5rem;
  }
  
  .nav-link {
    padding: 0 15px; /* Adjust padding as needed */
    text-decoration: none;
    color: #331300;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #64531b;
  }
  
  .condition-container {
      font-size: small;
      color: red;
  }

#navbar-nav-right {
    margin-left: auto; 
}

.dropdown-menu {
  right: 0;
  width: auto; /* Adjust width as needed */
  min-width: 100px; /* Set a minimum width */
}

.btn .bi {
  font-size: 1.5rem; 
}

.btn .btn-primary {
  background-color: #331300;
}

#userdropdownMenuButton {
  background-color: transparent;
  border: none;
  color: #000000;
}

.product-card {
  background-color: #F8F4E8; 
  border: 1px solid #dee2e6; 
  border-radius: 8px; 
  padding: 15px; 
  margin-bottom: 20px; 
  transition: transform 0.3s ease-in-out; 
  display: flex; 
  align-items: center; 
}


.product-card:hover {
  transform: translateY(-5px); /* Lift card on hover */
}


.product-card .card-body {
  padding-top: 10px; /* Adjust top padding */
}

.product-card .card-title {
  font-size: 1.2rem; /* Larger font size for title */
  margin-bottom: 5px; /* Space below title */
}

.card-img-top {
  width: 60%;
}

.product-card .card-text {
  color: #6c757d; /* Grey text color */
}

.product-card .btn-primary {
  background-color: #331300 !important; /* Your custom background color */
  border: none !important; /* Remove button border */
  width: 100% !important; /* Full width button */
}

.product-card .btn-primary:hover {
  background-color: #64531b !important; /* Darker color on hover */
}

.custom-signin-btn {
  background-color: #331300 !important; /* Change background color to brown */
  color: #ffffff !important; /* Change text color to white */
  border: none; /* Remove button border */
}

.custom-signin-btn:hover {
  background-color: #64531b !important; /* Darker brown on hover */
}
